

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;  
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif !important;
  font-size: 15px;
}
.k_name-logo{
  font-size: 30px;
}
.k_name-logo  a{
  text-decoration: none;
  color: #f7f9fa;

}

.k_name{
  font-size: 35px;
  margin-bottom: 80px;
  font-family: 'Lora', serif;
}
.flex-container {
  top: 0;
  padding-left: 70px;
  padding-right: 70px;
  color: white;
  display: flex;
  justify-content: space-between;
  background-color: rgb(1, 36, 46);
  text-decoration: none;
  position: fixed;
  width: 100%;
  z-index: 998;
  align-items: center;
  height: 80px;
}
.nav-container-right {
  display: flex;
  align-items: center;
}
.main_logo {
  display: flex;
  align-items: center;
  font-size: 5px;
}

.nav-items-left {
  padding-left: 70px;
}
.nav-items-left > a {
  padding-right: 30px;
  color: rgb(250, 250, 250);
  text-decoration: none;
}
.nav-items-right > a {
  padding-left: 30px;
  color: rgb(250, 250, 250);
  text-decoration: none;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}

.buttonCv {
  background-color: rgb(1, 36, 46);
  border-radius: 5px;
  padding: 10px 40px;
  text-align: center;
  font-size: 12px;
  margin-top:10px ;
}
.buttonCv a{
  color: white;
  text-decoration: none;
}
.buttonResume {
  background-color: rgb(1, 36, 46);
  border-radius: 5px;
  padding: 10px 40px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  margin: 2px 2px;
}
.buttonResume a {
  color: white;
  text-decoration: none;
}
.img-1 img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 2px solid rgb(1, 36, 46);
  opacity: 20065px;
}
.hero>div h1{margin-bottom:20px}

.hero {

  min-height: calc(100vh - 80px);
  display: flex;
  /* flex-wrap: wrap-reverse; */
  align-items: center;
  justify-content: space-between;
  margin: 0 15%;
  margin-bottom: 20px;
}
.hero-intro1{
  font-size: 20px;
}
.hero-intro {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 2px;
  margin: 25px 0;
}

#home_page {
  width: 100%;
  position: relative;
  background-image: linear-gradient(
    to bottom right,
    #b6c5f0,
    #f7dbded7,
    #b6c5f0,
    #617cd437
  );
  padding-bottom: 50px;
}
#about h1{
  text-align: center;

}
.About-section {
/* min-height: calc(100vh - 80px); */
display: flex;
align-items: center;
justify-content: space-between;
margin: 0 15%;
}

.Abouttxt p {
  line-height: 1.5;
  letter-spacing: 2px;
  margin: 30px 0;
}
 
/* start skills  */

#_myskills {
  margin: 40px;
}
.myskills{
  justify-content: space-between;
  display: flex;
  padding: 10px 70px ;
}
#_myskills h1{
  text-align: center;
  margin-bottom: 10px;
}

.skills{
  width: 500px;
  margin: 60px auto;
  color: rgb(9, 9, 9);
}

/* .skills h1{
  text-align: center;
} */
.skills li{
  margin: 20px 0;
}
.bar{
  background: #353b48;
  display: block;
  height: 10px;
  border: 1px solid rgba(0,0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px #2187e7b3;
  
}
.bar span{
  height: 20px;
  float: left;
  background: rgb(250, 248, 248);
}
.Html5{
  width: 90%;
  animation: Html5 2s;
}
.Css{
  width: 65%;
  animation: Css 2s;
}
.Jquery{
  width: 50%;
  animation: Jquery 2s;
}
.javascript{
  width: 75%;
  animation: javascript 2s;
}
@keyframes Html5{
0%{
  width: 0%;
}
100%{
  width: 90%;
}
}

@keyframes Css{
  0%{
      width: 0%;
  }
  100%{
      width: 65%;
  }
  }

  @keyframes Jquery{
      0%{
          width: 0%;
      }
      100%{
          width: 50%;
      }
      }

      @keyframes javascript{
          0%{
              width: 0%;
          }
          100%{
              width: 75%;
          }
          }
 .d1skills{
  width: 500px;
  margin: 60px auto;
  color: rgb(9, 9, 9);
}
.d1skills li{
  margin: 20px 0;
}
.React{
  width: 90%;
  animation: Html5 2s;
}
.Nest{
  width: 65%;
  animation: Css 2s;
}
.Typescript{
  width: 50%;
  animation: Jquery 2s;
}
.Nodejs{
  width: 75%;
  animation: javascript 2s;
}
@keyframes React{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
  }
  
  @keyframes Nest{
    0%{
        width: 0%;
    }
    100%{
        width: 65%;
    }
    }
  
    @keyframes Typescript{
        0%{
            width: 0%;
        }
        100%{
            width: 50%;
        }
        }
  
        @keyframes Nodejs{
            0%{
                width: 0%;
            }
            100%{
                width: 75%;
            }
            }
/* end skills */

.all {
  width: 52px;
  height: 42px;
  border-radius: 5px;
  /* justify-content: center; */
  /* align-items: center; */
  background-color: rgb(1, 36, 46);
}
.all >a{
  color: white;
  text-decoration: none;
}

.portfolio {
  width: 100%;
  position: relative;
 
}
.Blog {
  padding-top: 40px;
  width: 100%;
  position: relative;
 
}
.BlogTexth1 {
  text-align: center;
  padding-top: 20px;
}
.images_Blogs {
  
  display: flex;
  padding: 40px 75px 40px 110px ;
  gap: 2px;
  flex-wrap: wrap;
  grid-template-columns: 32% 32% 32%;
  cursor: pointer;
}
.Box1-Blog {
  width: 31.5%;
  margin: 10px;
  box-shadow: -1px 0 10px rgb(1, 36, 46);
}
 .Box1-Blog h2{
  padding: 5px 20px;
 }
.Box1-Blog p{
  padding: 20px;
}
.portfolioText_Button {
  padding: 20px 100px 20px 150px;
  justify-content: center;
  display: flex;
  justify-content: space-between;
}
.Images_Protofile {
  gap: 15px;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  padding: 0px 20px 0px 60px;
  cursor: pointer;
}

.Images_Protofile img {
  width: 300px;
  height: 200px;
  object-fit: fill;
  margin: 0 15%;
}
.First-image_Blogs img {
  width: 100%;
  height: 300px;
}


.text {
  text-indent: 0px;
  text-align: center;
  letter-spacing: 3px;
}
.SKillsh1 {
  padding-top: 40px;
  text-align: center;
}
.porth1 {
  text-align: center;
  padding-top: 20px;
}

/* start GetinTouch */
.GETALLintouch{
  width: 100%;
  display: flex;
  justify-content: center;
}
.GetIn{
  width: 80%;

}
.GetInh1{
  text-align: center;
  padding: 40px;
}
.GetinText{
  text-align: center;
}
.GetINImage_Text{
display: flex;
justify-content: space-between;
width: 80%;
margin: 0 auto;
margin-bottom:20px ;
}
.GetINImage_Text h2,.GetINImage_Text img{
  margin-bottom: 10px;
}

.AllinputGetIN{
  display: flex;
  width: 100%;
  justify-content: center;
}
/* .Allinput2 input{
width: 60%;
} */
.Allinput2{
  width: 60%;
  }
  .Allinput2 textarea{
    width: 100%;
    height: 100px;
    margin: 8px 10px 8px 0px;
    
    border: 1px solid rgb(13, 13, 14);
    border-radius: 4px;
    background-color: #f1f1f1;
    color: rgb(13, 13, 14);
    font-size: 16px;
    resize: none; 
  }
  .Allinput2 button{
    width: 20%;
    height: 40px;
  }
  .GetIn_Email_Name {
    display: flex;
    width: 100%;
   
    
  }
  /* .GetIn_Email_Name input{
    width: 45%; 
  } */
.myinputs{
  width: 100%;
  padding-bottom: 20px;
}
.myinputs input{
  width: 99%;
  padding:  7px 10px;
 

}
.buttonGetINn{
  background-color: rgb(1,36,46);
  color: white;
  border-radius: 5px;
  display: center;
}
.buttonGetINn:hover{
  background-color:  rgb(53, 112, 100);
}

/* End GetinTouch */


/* start login page */

.Login_page{
  background-image: linear-gradient(to bottom right,#b6c5f0,#f7dbded7,#b6c5f0,#617cd437) ;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login_center{
 width: 40%;
}
body {font-family: Arial, Helvetica, sans-serif;}
.FormLoginpage{border: 1px solid #04030317;
 border-radius: 10px;
padding-bottom: 50px;
padding: 20px;
}
input.remember,span.psw{
padding: 30px 0px;
}

.login_center input[type=text], .login_center input[type=password] {
 width:100%;
 padding: 12px 5px;
 margin: 8px 10px 0px 0;
 background-color:transparent;
 border: 1px solid rgba(5, 5, 5, 0.431) !important;
 box-sizing: border-box;
 outline: none;
}

.buttonLogin {
 background-color:rgb(1,36,46);
 color: white;
 padding: 14px 20px;
 margin: 8px 0;
 border: none;
 cursor: pointer;
 width: 100%;
}

.buttonLogin:hover {
 opacity: 0.8;
}
.imgcontainer {
 text-align: center;
 margin: 24px 0 12px 0;
}
img.avatar {
 width: 20%;
 border-radius: 50%;
}

.container {
 padding: 16px;
}

.footerLogin{
 width: 100%;
 display: flex;
 justify-content: space-between;
 padding: 20px 0;

}
.myinputs {
  width: 100%;
  /* padding-bottom: 20px; */
}

/*End login*/

/* dashboard*/
.Dashboard_page {
  display: flex;
  width: 100%;
  position: relative;
  background-image: linear-gradient(
    to bottom right,
    #b6c5f0,
    #f7dbded7,
    #b6c5f0,
    #617cd437
  );
}
.dashboard_navbar {
  width: 20%;
  border-right: 1px solid black;
  position: fixed;
  height: 100vh;
  z-index: 999;
}
.Menu_list a{
  color: #00050a;
}
.Menu_list a:hover{
  color: #f7f9fa;
}
.Menu_list li:hover{
  background-color: rgb(1, 36, 46);
}
.dashboardRight {
  margin-left: 20%;
  padding-bottom: 100px;
}
  .DashTittle{
    position: relative;
  }
  .dash_text{
    display: none;
  }

.singleBlog {
  display: flex;
  border: 1px solid black;
  height: 100%;
  margin: 10px 20px;
  cursor: pointer;
}
.singleBlog:hover {
  transform: scale(1.02);
}
.imgBlog {
  height: 100%;
}

.imgBlog_1 img{
  width: 270px;
  height: 240px;
  padding: 5px 0px 0px 5px;
}


.BlogTittle{
  margin-bottom: 15px;
}
.Blogcontent{
  margin-bottom: 20px;
}

.BlogButton,
.dashheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashheader {
  padding: 5px 20px;
  position: fixed;
  width: 80%;
  background-color: white;
  box-shadow: 16px 0px 13px 0px #5f5e5e2e;
  background-color: rgb(1, 36, 46);
  color: white;
}
.dash_content {
  margin-top: 90px;
}
.myprofile img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid rgb(245, 240, 240);
}
.blog_details {
  padding: 20px;
}
ul {
  padding: unset;
}
.Menu_list {
  padding-top: 40px;
  
}
.Menu_list li a{
  text-decoration: none;
}

.Menu_list li {
  list-style: none;
  border-bottom: 1px solid black;
  padding: 10px 8px;
}
th,
td {
  text-align: start;
  border-bottom: 1px solid black;
  padding: 10px;
}
.Allqueries {
  padding: 20px;
}

.NewPost {
  width: 100%;
  display: flex;
  justify-content: center;
}
.PostStyle {
  width: 50%;
  /* border: 1px solid black; */
}
.Form {
  width: 100%;
}
.Form input,
.Form textarea {
  width: 100%;
  margin-bottom: 30px;
  padding: 5px;
}
.Form button {
  background-color: #233042;
  padding: 5px 30px;
  border-radius: 10px;
  border: none;
  color: white;
  height: 40px;
}
.Tittles {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  text-transform: capitalize;
}
.deletebutton{
  background-color:rgb(1, 36, 46) ;
  border-radius: 5px;
  padding: 10px 6px;
  height: 40px;
  width: 100px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  margin: 2px 2px;
}
.deletebutton button{
background: transparent;
color: rgb(248, 243, 243);
border-color: transparent;
}

.deletebutton a{
  color: rgb(253, 249, 249);
  text-decoration: none;
}
.editbutton{
  background-color:rgb(1, 36, 46) ;
  border-radius: 5px;
  padding: 10px 6px;
  height: 40px;
  width: 80px;
  text-align: center;
  font-size: 16px;
  margin: 2px 2px;
}
.editbutton button{
  background: transparent;
  color: rgb(248, 243, 243);
  border-color:transparent;
  }
.editbutton a{
  color: rgb(248, 243, 243);
  text-decoration: none;
}
.readmorebutton{
  background-color:rgb(1, 36, 46) ;
  border-radius: 5px;
  padding: 10px 6px;
  height: 40px;
  width: 90px;
  text-align: center;
  font-size: 16px;
  margin: 2px 2px; 
}
.readmorebutton button{
  background: transparent;
  color: rgb(248, 243, 243);
  border-color:transparent;
}

.cancel_updatebtn{
  justify-content: space-around;
  display: none;

}
button.cancelbttn{
background-color: #23304287;

}
.table_table_bordered{
  margin: 0 auto;
  width: 100%;
}

/* form validation*/

p.error {
  padding: unset;
  margin: unset;
  visibility: hidden;
}
.dashboardParrent{
  position: relative;
  width: 100%;
  height: 100%;
}
.navbar_menu{
  top: 40px;
  position: absolute;
  background-color: #f1f1f1;
  padding: 5px 0px 5px 5px;
 transition: all 0.8s;
 display: none;
}
.hide{
  margin-left: -190px;
}
.navbar_menu li{
width: 180px;
padding: 5px;
border-bottom: 1px solid black;
}

.menu_nav_img{
  background-color: rgb(1, 36, 46);
  width: 100%;
  display: none;
}
.menu_nav_img img{
  
width: 30px;
height: 30px;
padding: 5px;

}


/* commentForm and likes*/
* {
  box-sizing: border-box;
}
.commentTexth2{
text-align: center;

}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}


input[type=submit] {
  background-color:  rgb(1, 36, 46);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}


input[type=submit]:hover {
  background-color:  rgb(53, 112, 100);
  /* color: black; */
}
input[type=value] {
  background-color:  rgb(1, 36, 46);
  color: white;
  padding: 12px 20px;
  width: 30%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
 
input[type=value]:hover {
  background-color:  rgb(53, 112, 100);
  /* color: black; */
}

.container {
  border-radius: 5px;
  /* background-color: #c1c4b8; */
  padding: 20px 20px;
  margin: 10%;
}

.col-25 {
    float: right;
  width: 20%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}


/* single blogs page Images*/
.gallery-container{
  padding: 40px 80px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 90%;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
/* Start single blogs page */
.pageSingleBlog{
  display: flex;
  width: 100%;
  position: relative;
  background-image: linear-gradient(
    to bottom right,
    #b6c5f0,
    #f7dbded7,
    #b6c5f0,
    #617cd437
  );
}
.singleblogs-comment{
  display: block;
  margin:0 28%;
}
.singleblogs-comment h2{
  text-align: center;
  margin-top: 20px;
}
.comments {
  /* border: 2px solid red; */
  padding: 10px 80px;
  display: grid;
  gap: 20px;
}

/* .comments h1 {
  text-align: center;
} */

.comments-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  
}

.comment-box {
  border: 1px solid rgb(1, 36, 46);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px 20px;
  padding: 10px;
  margin: 0 auto;
  width: 300px;
  min-height: 250px;  
  padding: 50px;
  border: 1px solid rgb(1, 36, 46);
  
}
.comment-email,.comment-name,.comment-body{
  font-size: 20px;
}
.comment-heading h6{
  font-size: 28px;
  text-align: center;
  margin:0 auto;
}

.comment-date {
  font-size: 12px;
  font-weight: 200;
}


/*end single blogs page*/

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
/*endcommentForm and likes*/


/* responsiveness*/
@media  (max-width:578px){

  .hero{
    display: block;
    padding-top: 40px;
    /* margin: 15%; */
  } 
  .img-1, button.buttonCv {
    display: flex;
    justify-content: center;
  }
.img-1  img{
  width: 200px;
  height: 200px;
  
} 
div h1 {
  text-align: center;
  margin-top: 20px;
  
}
.hero-intro{
  text-align: center;
  margin-bottom: 20px;
}

  .flex-container{
    display: none;
  }
  .About-section{
    display: block;
  }
  .grid_container{
    display: block;
  }
  .portfolioText_Button{
    display: none;
  }
  .Images_Protofile{
display: block;
padding: 0px 20px 0px 40px;
}
.Images_Protofile img{
 margin: 0;
}
.images_Blogs{
  display: block;
  margin-top: 20px;
}
.Box1-Blog{
margin-bottom: 20px;
}
p.mybox1,h2.mybox1{
  margin: 20px !important;

}
.GetINImage_Text{
  display: block;
  margin-right: 20px;
}
.footerLogin{
  display: flex;
  justify-content: space-between;
}
.img.avatar{
  width: 50%;

}
.login_center{
  width: 80%;
}
.dashboard_navbar{
  display: none;
  
}
.dashboardRight{
  margin-left: 0px;
}
.dashheader{
  width: 100%;
}
.menu_nav_img{
  display: block;
}
.singleBlog{
display: block;
}
.navbar_menu{
  top: 40px;
  position: absolute;
  background-color: #f1f1f1;
  padding: 5px 0px 5px 5px;
 transition: all 0.8s;
 display: block;
}
}
